<!-- views/error.ejs -->
<!DOCTYPE html>

<html>
  <head>
    <title>Error</title>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">

        <div class='col-lg-3 sidebar text-center'>

          <%- include('./partials/logout.ejs') %>

        </div>

        <div class='col-lg-9 panelbg text-center'>
          <div class="jumbotron">
            <h1><%=string%></h1>
          </div>
          <!-- to get around cspNonce that doesn't work on <button> or <a> -->
          <% if (!locals.disableBack) { %>
            <script id="back-button-script" type="text/javascript" nonce="<%= cspNonce %>" defer> 
              const back = document.createElement('button')
              back.className = 'btn btn-primary'
              back.addEventListener('click', () => history.back())
              back.appendChild(document.createTextNode('Back'))
              document.getElementById('back-button-script').insertAdjacentElement('afterend', back)
            </script>
          <% } %>
          <div>&nbsp;</div>
          <% if (locals.details) { %>
            <div class="jumbotron">
              <h2>Detailed Log:</h2>
              <pre><%=details%></pre>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
