<!DOCTYPE html>
<!-- views/report/advisorReport.ejs -->


<html>
  <head>
    <title>Reports</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-lg-2 sidebar text-center">
          
          <%- include("../partials/admin-sidebar.ejs") %>

        </div>
        <div align ="center" class="col-lg-10 panelbg text-center">

          <h3 class="space">Advisor Load Report</h3>

          <% if(report != undefined && report.length>0) { %>
            <% const last = report.length-1 %>
            <table id="advisor-report-table" align="center" border="1" class="table display-table table-striped table-bordered advisor-report-table">
              <thead>
                <tr>
                  <th scope="col" class="col-advisor-report-last">Advisor Last Name</th>
                  <th scope="col" class="col-advisor-report-first">Advisor First Name</th>
                  <th scope="col" class="col-advisor-report-first">Semesters</th> <!-- computed from semester started and semesters on leave -->
                  <th scope="col" class="col-advisor-report-researchAdvisor">Advisee Last Name</th>
                  <th scope="col" class="col-advisor-report-advisor">Advisee First Name</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i<report.length-1; i++) { %>
                  <tr>
                    <td><%= report[i].lastName%></td>
                    <td><%= report[i].firstName%></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <% for(let j=0; j<report[i].students.length; j++) { %>
                    <tr>
                      <td></td>
                      <td></td>
                      <td><%= report[i].students[j].activeSemesters%></td>
                      <td><%= report[i].students[j].lastName%></td>
                      <td><%= report[i].students[j].firstName%></td>
                    </tr>
                  <% } %>
                <% } %>
              </tbody>
            </table>
            <h4 class="space">Advisorless Students</h4>
            <table id="advisorless-report-table" align="center" border="1" class="table display-table table-striped table-bordered advisorless-report-table">
              <thead>
                <tr>
                  <th scope="col">Semesters</th>
                  <th scope="col">Student Last Name</th>
                  <th scope="col">Student First Name</th>
                </tr>
              </thead>
              <tbody>
                <% for(let k=0; k<report[last].students.length; k++) { %>
                  <tr>
                    <td><%= report[last].students[k].activeSemesters%></td>
                    <td><%= report[last].students[k].lastName%></td>
                    <td><%= report[last].students[k].firstName%></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          <% } else { %>
            <div>No students found.</div>
          <% } %>

        </div>
      </div>
    </div>
  </body>
</html>
