<!DOCTYPE html>
<!-- views/studentView/forms.ejs -->

<html>
  <head>
    <title>Student forms</title>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-lg-2 sidebar text-center">
          <%- include("../partials/logout.ejs") %>
        </div>
        <div align="center" class="col-lg-10 panelbg text-center">
          <%- include("../partials/studentBarPartial.ejs") %>

          <h4><%=student.lastName%>, <%=student.firstName%></h4>

          <h3 class="space">View a form</h3>
          <div class="button-container">
            <a
              href="/studentView/forms/CS01/false"
              class="CS01"
              data-bs-toggle="tooltip"
              title="<%= ('CS01' in results && results.CS01) ? 'This form is complete' : 'This form is incomplete' %>"
            >
              <%= ("CS01" in results && results.CS01) ? "✅" : "❗" %>
              CS01-Background Preparation Worksheet
            </a>
          </div>

          <div class="button-container">
            <a
              href="/studentView/forms/CS01NEW/false"
              class="CS01"
              data-bs-toggle="tooltip"
              title="<%= ('CS01' in results && results.CS01) ? 'This form is complete' : 'This form is incomplete' %>"
            >
              <%= ("CS01" in results && results.CS01) ? "✅" : "❗" %>
              CS01-Background Preparation Worksheet (NEW)
            </a>
          </div>

          <div class="button-container">
            <a href="/studentView/multiforms/CS02" class="CS02">
              CS02-Course Waiver
            </a>
          </div>

          <% if (student.intendedDegree === "MASTERS" || student.intendedDegree
          === "BOTH") { %>
          <div class="button-container">
            <a
              href="/studentView/forms/CS03/false"
              class="CS03"
              data-bs-toggle="tooltip"
              title="<%= ('CS03' in results && results.CS03) ? 'This form is complete' : 'This form is incomplete' %>"
            >
              <%= ("CS03" in results && results.CS03) ? "✅" : "❗" %> CS03-M.S.
              Program of Study
            </a>
          </div>
          <% } %> <% if (student.intendedDegree === "MASTERS" ||
          student.intendedDegree === "BOTH") { %>
          <div class="button-container">
            <a
              href="/studentView/forms/CS04/false"
              class="CS04"
              data-bs-toggle="tooltip"
              title="<%= ('CS04' in results && results.CS04) ? 'This form is complete' : 'This form is incomplete' %>"
            >
              <%= ("CS04" in results && results.CS04) ? "✅" : "❗" %>
              CS04-Outside Review Option
            </a>
          </div>
          <% } %> <% if (student.intendedDegree === "PHD" ||
          student.intendedDegree === "BOTH") { %>
          <div class="button-container">
            <a
              href="/studentView/forms/CS06/false"
              class="CS06"
              data-bs-toggle="tooltip"
              title="<%= ('CS06' in results && results.CS06) ? 'This form is complete' : 'This form is incomplete' %>"
            >
              <%= ("CS06" in results && results.CS06) ? "✅" : "❗" %>
              CS06-Ph.D. Program of Study
            </a>
          </div>
          <% } %>

          <div class="button-container">
            <a
              href="/studentView/forms/CS08/false"
              class="CS08"
              data-bs-toggle="tooltip"
              title="<%= ('CS08' in results && results.CS08) ? 'This form is complete' : 'This form is incomplete' %>"
            >
              <%= ("CS08" in results && results.CS08) ? "✅" : "❗" %>
              CS08-Technical Writing Requirement
            </a>
          </div>
          <% if (student.intendedDegree === "PHD" || student.intendedDegree ===
          "BOTH") { %>
          <div class="button-container">
            <a
              href="/studentView/forms/CS12/false"
              class="CS12"
              data-bs-toggle="tooltip"
              title="<%= ('CS12' in results && results.CS12) ? 'This form is complete' : 'This form is incomplete' %>"
            >
              <%= ("CS12" in results && results.CS12) ? "✅" : "❗" %>
              CS12-Report of Research Discussion
            </a>
          </div>
          <% } %>

          <div class="button-container">
            <a
              href="/studentView/forms/CS13/false"
              class="CS13"
              data-bs-toggle="tooltip"
              title="<%= ('CS13' in results && results.CS13) ? 'This form is complete' : 'This form is incomplete' %>"
            >
              <%= ("CS13" in results && results.CS13) ? "✅" : "❗" %>
              CS13-Program Product Requirement
            </a>
          </div>

          <div class="button-container">
            <a
              href="/studentView/multiforms/SemesterProgressReport"
              class="SemesterProgressReport"
            >
              Semesterly Progress Report
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
