<ul class="nav nav-tabs whiteBg space">
  <li class="nav-item">
    <a class="nav-link student-navigation-back-button" href="/student">
      <i class="fas fa-solid fa-list"></i>
      Back to Students
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link student-navigation-edit-button" href="/student/edit/<%=student._id%>">Profile</a>
  </li>
  <!--   <li class="nav-item">
    <a class="nav-link student-navigation-jobs-button" href="/student/jobs/<%=student._id%>">Jobs</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link student-navigation-forms-button" href="/student/forms/<%=student._id%>">Forms</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link student-navigation-courses-button" href="/student/courses/<%=student._id%>">Courses</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link student-navigation-notes-button" href="/student/notes/<%=student._id%>">Notes</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link student-documents-notes-button" href="/student/documents/<%=student._id%>">Documents</a>
  </li> -->
</ul>
